.flexcontainer {
    display: flex;
    flex-direction: column;
}

.button_UI {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.resolutionSelect {
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
}

.columns {
    display: flex;
    flex-direction: column;
    flex: auto;
    height: 100dvh;
}

.columns div {
    flex: 1;
}